<div class="container" *ngIf="!currentTeam">
  <h3>Nie jesteś obecnie członkiem żadnej grupy!</h3>
  <p>Dołącz do grupy i uzyskaj dostęp do wszystkich funkcji</p>
</div>
<div class="container" *ngIf="currentTeam">
  <div class="header">
    <h1 class="header-text">{{ currentTeam.name }}</h1>
  </div>
  <div class="main-content">
    <div class="group-header__container">
      <p class="group__text">Imię i nazwisko</p>
      <p class="group__text" *ngIf="user.role === 'teacher'">Usuń</p>
    </div>
    <div class="group-container" *ngFor="let member of teamMembers">
      <p class="group__text">{{ member.firstName + ' ' + member.lastName }}</p>
      <button
        class="delete-button"
        type="button"
        (click)="onMemberDelete(member.id)"
        *ngIf="user.role === 'teacher' && user.id !== member.id">Usuń z Grupy</button>
    </div>
  </div>
</div>