<div class="container">
  <div class="header">
    <h1 class="header-text">2K331/BD</h1>
  </div>
  <div class="main-content">
    <div class="group-header__container">
      <p class="group__text">Imię i nazwisko</p>
      <div class="border__line--vertical"></div>
      <p class="group__text">Usuń</p>
    </div>
    <div class="group-container">
      <p class="group__text">Michał Listek</p>
      <div class="border__line--vertical"></div>
      <button class="delete-button" type="button">Usuń z Grupy</button>
    </div>
    <div class="group-container">
      <p class="group__text">Michał Listek</p>
      <div class="border__line--vertical"></div>
      <button class="delete-button" type="button">Usuń z Grupy</button>
    </div>
    <div class="group-container">
      <p class="group__text">Michał Listek</p>
      <div class="border__line--vertical"></div>
      <button class="delete-button" type="button">Usuń z Grupy</button>
    </div>
    <div class="group-container">
      <p class="group__text">Michał Listek</p>
      <div class="border__line--vertical"></div>
      <button class="delete-button" type="button">Usuń z Grupy</button>
    </div>
    <div class="group-container">
      <p class="group__text">Michał Listek</p>
      <div class="border__line--vertical"></div>
      <button class="delete-button" type="button">Usuń z Grupy</button>
    </div>
    <div class="group-container">
      <p class="group__text">Michał Listek</p>
      <div class="border__line--vertical"></div>
      <button class="delete-button" type="button">Usuń z Grupy</button>
    </div>
  </div>
</div>