/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 15%);
  border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1762A7;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(23, 98, 167, 50%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.header-text {
  font-size: 70px;
  text-align: center;
}

.main-content {
  width: 55%;
  margin:auto;
  background-color: #1e1f25;
  border-radius: 25px 7px 7px 25px;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 65vh;
  overflow-y: scroll;
}

.group-header__container, .group-container {
  width: 90%;
  margin: 5px 0;
  border-radius: 25px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group-container {
  background-color: rgba(217, 217, 217, 15%);
}

.delete-button {
  height: 25px;
  width: 150px;
  font-weight: 700;
  color: #fff;
  background-color: rgba(255, 0, 0, 50%);
  border-radius: 5px;
}

@media screen and (max-width: 975px) {
  .header-text {
    font-size: 32px;
  }
  .main-content {
    width: 90%;
    padding: 0;
  }
  .group-container {
    flex-direction: column;
  }
  .delete-button {
    width: 100%;
  }
}