<div class="container">
  <div class="header">
    <h1 class="header-text">{{ currentTeam.name }}</h1>
  </div>
  <div class="main-content">
    <div class="group-header__container">
      <p class="group__text">Imię i nazwisko</p>
      <div class="border__line--vertical"></div>
      <p class="group__text">Usuń</p>
    </div>
    <div class="group-container" *ngFor="let member of teamMembers">
      <p class="group__text">{{ member.firstName + ' ' + member.lastName }}</p>
      <div class="border__line--vertical"></div>
      <button
        class="delete-button"
        type="button"
        (click)="onMemberDelete(member.id)">Usuń z Grupy</button>
    </div>
  </div>
</div>