<div class="container">
  <div class="header">
    <h1 class="header-text">Ustawienia</h1>
  </div>
  <form class="main-content" (ngSubmit)="onSettingsChanged(f)" #f="ngForm">
    <div class="content__section">
      <h3 class="section-header">Dane osobowe:</h3>
      <hr class="section-line">
      <div class="form-group">
        <label for="firstName" class="form-label">Imię:</label>
        <input
          type="text"
          id="firstName"
          class="form-control"
          name="firstName"
          [(ngModel)]="user.firstName" />
        <label for="lastName" class="form-label">Nazwisko:</label>
        <input
          type="text"
          id="lastName"
          class="form-control"
          name="lastName"
          [(ngModel)]="user.lastName" />
      </div>
    </div>
    <div class="content__section">
      <h3 class="section-header">Zmiana hasła:</h3>
      <hr class="section-line">
      <div class="form-group">
        <label for="password" class="form-label">Hasło:</label>
        <input
          type="password"
          id="password"
          class="form-control"
          name="password"
          ngModel
          minlength="6" />
        <label for="repeatPassword" class="form-label">Powtórz hasło:</label>
        <input
          type="password"
          id="repeatPassword"
          class="form-control"
          name="repeatPassword"
          ngModel
          minlength="6" />
        </div>
        <div class="form-error" *ngIf="error">
          <p>{{ error }}</p>
        </div>
    </div>
    <div class="content__section" *ngIf="user.role === 'student'">
      <h3 class="section-header">Grupa:</h3>
      <hr class="section-line">
      <div class="section__content" *ngIf="currentTeam">
        <p class="content__text">Twoja grupa to: {{ currentTeam?.name }}</p>
      </div>
      <form *ngIf="!currentTeam" #f="ngForm" (ngSubmit)="onAddTeam(f)">
        <label for="code" class="form-label">Kod grupy:</label>
        <input type="text" id="code" name="code" ngModel class="form-control" />
        <button class="submit-button" type="submit">Dodaj Grupę</button>
      </form>
    </div>
    <div class="content__section">
      <h3 class="section-header">Konto:</h3>
      <hr class="section-line">
      <div class="section__content">
        <p class="content__text">Usuń swoje konto. Operacja nieodwracalna!</p>
        <button class="delete-button" type="button" (click)="deleteUser()">Usuń konto</button>
      </div>
    </div>
    <div class="border-line"></div>
    <button class="submit-button" type="submit">Zatwierdź zmiany</button>
  </form>
</div>