<div class="container">
  <div class="header">
    <h1 class="header-text">Ustawienia</h1>
  </div>
  <div class="main-content">
    <div class="content__section">
      <h3 class="section-header">Dane osobowe:</h3>
      <hr class="section-line">
      <div class="form-group">
        <label for="firstname" class="form-label">Imię:</label>
        <input type="text" id="firstname" class="form-control" />
        <label for="lastname" class="form-label">Nazwisko:</label>
        <input type="text" id="lastname" class="form-control" />
      </div>
    </div>
    <div class="content__section">
      <h3 class="section-header">Zmiana hasła:</h3>
      <hr class="section-line">
      <div class="form-group">
        <label for="password" class="form-label">Hasło:</label>
        <input type="password" id="password" class="form-control" />
        <label for="repeat-password" class="form-label">Powtórz hasło:</label>
        <input type="password" id="repeat-password" class="form-control" />
      </div>
    </div>
    <div class="content__section">
      <h3 class="section-header">Grupa:</h3>
      <hr class="section-line">
      <div class="section__content">
        <p class="content__text">Jesteś członkiem grupy: 2K331/BD</p>
        <button class="delete-button" type="button">Opuść grupę</button>
      </div>
    </div>
    <div class="content__section">
      <h3 class="section-header">Konto:</h3>
      <hr class="section-line">
      <div class="section__content">
        <p class="content__text">Usuń swoje konto. Operacja nieodwracalna!</p>
        <button class="delete-button" type="button">Usuń konto</button>
      </div>
    </div>
    <div class="border-line"></div>
    <button class="submit-button" type="button">Zatwierdź zmiany</button>
  </div>
</div>