<div class="container">
  <div class="header">
    <h1 class="header-text">Zadanie</h1>
  </div>
  <div class="main-content">
    <div class="content__upper">
      <div class="content__section">
        <h3 class="section-header">Treść zadania:</h3>
        <hr class="section-line">
        <form class="section__input" (ngSubmit)="onEdit(f)" #f="ngForm" *ngIf="currentTask">
          <textarea
            class="section__text"
            rows="6"
            name="description"
            required
            [(ngModel)]="currentTask.description"></textarea>
          <button class="edit-button" type="submit">Zapisz</button>
        </form>
      </div>
      <div class="content__line--vertical"></div>
      <div class="content__section">
        <h3 class="section-header">Przypisane osoby:</h3>
        <hr class="section-line">
        <div class="section__users">
          <div class="user__list" *ngFor="let user of taskUsers">
            <p class="user-name">&#x2022; {{ user.firstName + ' ' + user.lastName }}</p>
            <button class="delete-button" type="button" (click)="deleteTaskUser(user.id)">Usuń</button>
          </div>
          <form class="user__add" #f="ngForm" (ngSubmit)="onAddUser(f)">
            <select
              name="users"
              ngModel
              id="users"
              class="user__select"
              (click)="filterOptions()">
              <option
                *ngFor="let user of membersOfTeam"
                [value]="user.id"
                >{{ user.firstName + ' ' + user.lastName }}</option>
            </select>
            <button class="add-button" type="submit">Dodaj</button>
          </form>
        </div>
      </div>
    </div>
    <div class="content__lower">
      <div class="content__section" *ngIf="currentTask">
        <h3 class="section-header">Kategoria:</h3>
        <hr class="section-line">
        <button
          class="category-button"
          type="button"
          value="todo"
          #todo
          [disabled]="currentTask.status == 'todo'"
          (click)="changeStatus(todo)">Do zrobienia</button>
        <button
          class="category-button"
          type="button"
          value="inprogress"
          #inprogress
          [disabled]="currentTask.status == 'inprogress'"
          (click)="changeStatus(inprogress)">W trakcie</button>
        <button
          class="category-button"
          type="button"
          value="done"
          #done
          [disabled]="currentTask.status == 'done'"
          (click)="changeStatus(done)">Zrobione</button>
      </div>
      <div class="content__section">
        <h3 class="section-header">Usuwanie:</h3>
        <hr class="section-line">
        <div class="section__content">
          <p class="content__text">Usuń to zadanie. Operacja nieodwracalna!</p>
          <button class="delete-button" type="button" (click)="onDeleteTask()">Usuń zadanie</button>
        </div>
      </div>
    </div>
  </div>
</div>