<div class="container">
  <div class="header">
    <h1 class="header-text">Zadanie</h1>
  </div>
  <div class="main-content">
    <div class="content__upper">
      <div class="content__section">
        <h3 class="section-header">Treść zadania:</h3>
        <hr class="section-line">
        <div class="section__input">
          <textarea class="section__text" rows="6" placeholder="Stworzyć stronę główną"></textarea>
          <button class="edit-button" type="button">Edytuj</button>
        </div>
      </div>
      <div class="content__line--vertical"></div>
      <div class="content__section">
        <h3 class="section-header">Autor:</h3>
        <hr class="section-line">
        <p class="user-name">&#x2022; Michał Listek</p>
        <h3 class="section-header">Przypisane osoby:</h3>
        <hr class="section-line">
        <div class="section__users">
          <div class="user__list">
            <p class="user-name">&#x2022; Michał Listek</p>
            <button class="delete-button" type="button">Usuń</button>
          </div>
          <div class="user__add">
            <select name="users" id="users" class="user__select">
              <option value="user">Adam Kowalski</option>
            </select>
            <button class="add-button" type="button">Dodaj</button>
          </div>
        </div>
      </div>
    </div>
    <div class="content__lower">
      <div class="content__section">
        <h3 class="section-header">Kategoria:</h3>
        <hr class="section-line">
        <button class="category-button" type="button">Do zrobienia</button>
        <button class="category-button" type="button">W trakcie</button>
        <button class="category-button" type="button">Zrobione</button>
      </div>
      <div class="content__section">
        <h3 class="section-header">Usuwanie:</h3>
        <hr class="section-line">
        <div class="section__content">
          <p class="content__text">Usuń to zadanie. Operacja nieodwracalna!</p>
          <button class="delete-button" type="button">Usuń zadanie</button>
        </div>
      </div>
    </div>
    <div class="border-line"></div>
    <button class="submit-button" type="button">Zatwierdź zmiany</button>
  </div>
</div>