/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 15%);
  border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1762A7;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(23, 98, 167, 50%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.header-text {
  font-size: 70px;
  text-align: center;
}

.main-content {
  width: 75%;
  margin:auto;
  background-color: #1e1f25;
  border-radius: 25px;
  padding: 25px;
}

.files__list {
  display: flex;
  flex-direction: column;
  height: 52vh;
  overflow-y: scroll;
}

.file-container {
  width: 95%;
  margin: 5px 15px;
  background-color: rgba(217, 217, 217, 15%);
  border-radius: 25px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file__info {
  min-height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}

.file__icon {
  height: 70%;
  max-height: 50px;
  margin-right: 10px;
}

.file__name {
  max-width: 80%;
  word-wrap: break-word;
  color: #fff;
}

.delete-button {
  height: 25px;
  width: 150px;
  font-weight: 700;
  color: #fff;
  background-color: rgba(255, 0, 0, 50%);
  border-radius: 5px;
}

.border-line {
  border: 1px solid rgba(23, 98, 167, 50%);
  margin: 25px 0;
}

.file-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 10px;
}

.form__header {
  font-size: 20px;
  font-weight: 700;
  margin-right: 30px;
  text-wrap: nowrap;
}

.upload-button {
  height: 25px;
  width: 125px;
  font-weight: 700;
  color: #fff;
  background-color: rgba(255, 255, 255, 15%);
  border-radius: 5px;
  margin-right: 30px;
  text-wrap: nowrap;
}

.submit-button {
  height: 35px;
  width: 150px;
  font-weight: 700;
  color: #fff;
  background-color: #1762A7;
  border-radius: 10px;
  margin-left: auto;
}

@media screen and (max-width: 975px) {
  .header {
    margin-bottom: 0;
  }
  .header-text {
    font-size: 20px;
  }
  .main-content {
    width: 90%;
    padding: 10px;
  }
  .files__list {
    height: 50vh;
  }
  .file-container {
    width: unset;
    margin: 5px 5px;
    padding: 10px;
    flex-wrap: wrap;
  }
  .file-form {
    flex-wrap: wrap;
  }
}