.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.header-text {
  font-size: 70px;
  text-align: center;
}

.main-content {
  width: 75%;
  margin:auto;
}

.task-form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 50px;
  margin-bottom: 50px;
}

.form-label {
  font-size: 20px;
  font-weight: 700;
}

.form-control {
  border-radius: 25px;
  padding: 0 10px;
  margin: 0 50px;
  height: 35px;
  width: 50%;
}

.submit-button {
  height: 35px;
  width: 150px;
  font-weight: 700;
  color: #fff;
  background-color: #1762A7;
  border-radius: 10px;
}

.kanban {
  background-color: #1e1f25;
  border-radius: 25px;
  padding: 25px 50px;
  display: flex;
  justify-content: center;
}

.kanban__column {
  width: 30%;
  margin: 0 25px;
}

.column__header {
  font-size: 40px;
  text-align: center;
  text-wrap: nowrap;
}

.column__line {
  border: 1px solid #1762A7;
}

.column__task {
  min-height: 70px;
  background-color: #1762A7;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  margin: 5px 0;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}

.kanban__line {
  border-left: 1px solid #1762a7;
}

@media screen and (max-width: 1150px) {
  .main-content {
    width: 90%;
  }

  .column__header {
    font-size: 28px;
  }
}

@media screen and (max-width: 975px) {
  .task-form {
    flex-direction: column;
    padding: 0;
  }

  .form-control {
    width: 100%;
    margin: 25px 0;
  }

  .main-content {
    width: 50%;
  }

  .kanban {
    flex-direction: column;
  }

  .kanban__column {
    width: 100%;
    margin: 0;
  }

  .column__header {
    margin-top: 25px;
  }

  .kanban__line {
    display: none;
  }
}

@media screen and (max-width: 675px) {
  .main-content {
    width: 90%;
  }
}

@media screen and (max-width: 526px) {
  .header-text {
    font-size: 32px;
  }
  
  .kanban {
    padding: 25px 5px;
  }
}