<div class="container">
  <div class="header">
    <h1 class="header-text">Zadania</h1>
  </div>
  <div class="main-content">
    <form class="task-form">
      <label for="task-name" class="form-label">Zadanie:</label>
      <input type="text" id="task-name" class="form-control" />
      <button class="submit-button" type="submit">Dodaj Zadanie</button>
    </form>
    <div class="kanban">
      <div class="kanban__column">
        <h2 class="column__header">Do zrobienia</h2>
        <hr class="column__line">
        <div class="column__task">
          <p class="task__text">Dodać spis treści</p>
        </div>
      </div>
      <div class="kanban__line"></div>
      <div class="kanban__column">
        <h2 class="column__header">W trakcie</h2>
        <hr class="column__line">
        <div class="column__task">
          <p class="task__text">Stworzyć stronę główną</p>
        </div>
      </div>
      <div class="kanban__line"></div>
      <div class="kanban__column">
        <h2 class="column__header">Zrobione</h2>
        <hr class="column__line">
        <div class="column__task">
          <p class="task__text">Zainicjalizować projekt</p>
        </div>
      </div>
    </div>
  </div>
</div>