<div class="container">
  <div class="header">
    <h1 class="header-text">Zadania</h1>
  </div>
  <div class="main-content">
    <form class="task-form" (ngSubmit)="onCreateTask(f)" #f="ngForm">
      <label for="taskName" class="form-label">Zadanie:</label>
      <input type="text" id="taskName" name="taskName" ngModel required class="form-control" />
      <button class="submit-button" type="submit">Dodaj Zadanie</button>
    </form>
    <div class="kanban">
      <div class="kanban__column">
        <h2 class="column__header">Do zrobienia</h2>
        <hr class="column__line">
        <a [routerLink]="'/tasks/' + task.id" class="column__task" *ngFor="let task of todoTasks">
          <div>
            <p class="task__text">{{ task.description }}</p>
          </div>
        </a>
      </div>
      <div class="kanban__line"></div>
      <div class="kanban__column">
        <h2 class="column__header">W trakcie</h2>
        <hr class="column__line">
        <a [routerLink]="'/tasks/' + task.id" class="column__task" *ngFor="let task of doingTasks">
          <div>
            <p class="task__text">{{ task.description }}</p>
          </div>
        </a>
      </div>
      <div class="kanban__line"></div>
      <div class="kanban__column">
        <h2 class="column__header">Zrobione</h2>
        <hr class="column__line">
        <a [routerLink]="'/tasks/' + task.id" class="column__task" *ngFor="let task of doneTasks">
          <div>
            <p class="task__text">{{ task.description }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>