<div class="container">
  <div class="header">
    <h1 class="header-text">Grupy</h1>
  </div>
  <div class="main-content">
    <div class="groups__list">
      <div class="group-header__container">
        <p class="group__text">Nazwa</p>
        <div class="border__line--vertical"></div>
        <p class="group__text">Kod dostępu</p>
        <div class="border__line--vertical"></div>
        <p class="group__text">Usuń</p>
      </div>
      <div class="group-container">
        <p class="group__text">2K431/BD</p>
        <div class="border__line--vertical"></div>
        <p class="group__text">2xc7!df</p>
        <div class="border__line--vertical"></div>
        <button class="delete-button" type="button">Usuń</button>
      </div>
      <div class="group-container">
        <p class="group__text">2K431/BD</p>
        <div class="border__line--vertical"></div>
        <p class="group__text">2xc7!df</p>
        <div class="border__line--vertical"></div>
        <button class="delete-button" type="button">Usuń</button>
      </div>
      <div class="group-container">
        <p class="group__text">2K431/BD</p>
        <div class="border__line--vertical"></div>
        <p class="group__text">2xc7!df</p>
        <div class="border__line--vertical"></div>
        <button class="delete-button" type="button">Usuń</button>
      </div>
      <div class="group-container">
        <p class="group__text">2K431/BD</p>
        <div class="border__line--vertical"></div>
        <p class="group__text">2xc7!df</p>
        <div class="border__line--vertical"></div>
        <button class="delete-button" type="button">Usuń</button>
      </div>
      <div class="group-container">
        <p class="group__text">2K431/BD</p>
        <div class="border__line--vertical"></div>
        <p class="group__text">2xc7!df</p>
        <div class="border__line--vertical"></div>
        <button class="delete-button" type="button">Usuń</button>
      </div>
    </div>
    <div class="border-line"></div>
    <form class="group-form">
      <label for="group-name" class="form-label">Nazwa:</label>
      <input type="text" id="group-name" class="form-control" />
      <button class="submit-button" type="submit">Stwórz Grupę</button>
    </form>
  </div>
</div>