/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 15%);
  border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1762A7;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(23, 98, 167, 50%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.header-text {
  font-size: 70px;
  text-align: center;
}

.main-content {
  width: 75%;
  margin:auto;
  background-color: #1e1f25;
  border-radius: 25px;
  padding: 25px;
}

.groups__list {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  overflow-y: scroll;
}

.group-header__container, .group-container {
  width: 75%;
  margin: 5px 25px;
  border-radius: 25px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.group-container {
  background-color: rgba(217, 217, 217, 15%);
  cursor: pointer;
}

.group__text, .delete-button {
  min-width: 20%;
}

.delete-button {
  height: 25px;
  width: 150px;
  font-weight: 700;
  color: #fff;
  background-color: rgba(255, 0, 0, 50%);
  border-radius: 5px;
}

.border-line {
  border: 1px solid rgba(23, 98, 167, 50%);
  margin: 25px 0;
}

.group-form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 50px;
}

.form-label {
  font-size: 20px;
  font-weight: 700;
}

.form-control {
  border-radius: 25px;
  padding: 0 10px;
  margin: 0 50px;
  height: 35px;
  width: 50%;
}

.submit-button {
  height: 35px;
  width: 150px;
  font-weight: 700;
  color: #fff;
  background-color: #1762A7;
  border-radius: 10px;
}

@media screen and (max-width: 975px) {
  .group-header__container {
    display: none;
  }
  .group-container {
    flex-direction: column;
  }
  .group-form {
    padding: 10px;
    flex-direction: column;
  }
  .form-control {
    margin: 10px 0;
  }
}

@media screen and (max-width: 526px) {
  .main-content {
    width: 90%;
    padding: 15px;
  }
  .groups__list {
    height: 35vh;
  }
  .group-container {
    margin: 5px 0;
    width: 90%;
  }
  .delete-button {
    width: 100%;
  }
  .form-control {
    width: 100%;
  }
}