/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 15%);
  border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1762A7;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(23, 98, 167, 50%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.header-text {
  font-size: 70px;
  text-align: center;
}

.main-content {
  width: 75%;
  margin: auto;
  background-color: #1e1f25;
  border-radius: 25px;
  padding: 25px;
}

.messages__list {
  display: flex;
  flex-direction: column;
  height: 52vh;
  overflow-y: scroll;
}

.message-container, .message-container--self {
  width: 45%;
  position: relative;
  margin: 5px 25px;
}

.message-container--self {
  margin-left: auto;
}

.message-container--self > .message__content {
  background-color: rgba(23, 98, 167, 50%);
}

.message__info {
  display: flex;
  justify-content: space-between;
}

.message__content {
  min-height: 55px;
  background-color: rgba(25, 190, 51, 50%);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-line {
  border: 1px solid rgba(23, 98, 167, 50%);
  margin: 25px 0;
}

.message-form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 50px;
}

.form-label {
  font-size: 20px;
  font-weight: 700;
}

.form-control {
  border-radius: 25px;
  padding: 0 10px;
  margin: 0 50px;
  height: 35px;
  width: 50%;
}

.submit-button {
  height: 35px;
  width: 150px;
  font-weight: 700;
  color: #fff;
  background-color: #1762A7;
  border-radius: 10px;
}

@media screen and (max-width: 1150px) {
  .message-container, .message-container--self {
    width: 65%;
  }
  .message-form {
    padding: 0;
  }
  
  .form-control {
    width: 100%;
    margin: 0 25px;
  }
}

@media screen and (max-width: 975px) {
  .message-form {
    flex-direction: column;
  }

  .form-control {
    margin: 15px 25px;
  }
}

@media screen and (max-width: 526px) {
  .header-text {
    font-size: 32px;
  }

  .main-content {
    width: 90%;
    padding: 15px;
  }

  .messages__list {
    height: 40vh;
  }

  .message-container, .message-container--self {
    width: 85%;
  }
}