<div class="container">
  <div class="header">
    <h1 class="header-text">Wiadomości</h1>
  </div>
  <div class="main-content">
    <div class="messages__list">
      <div class="message-container">
        <div class="message__info">
          <p class="message__author">Michał Listek</p>
          <p class="message__timestamp">12:34</p>
        </div>
        <div class="message__content">
          <p class="content__text">Witam wszystkich w nowym projekcie</p>
        </div>
      </div>
      <div class="message-container">
        <div class="message__info">
          <p class="message__timestamp">12:35</p>
          <p class="message__author">Adam Kowalski</p>
        </div>
        <div class="message__content">
          <p class="content__text">Cześć, witam wszystkich</p>
        </div>
      </div>
      <div class="message-container">
        <div class="message__info">
          <p class="message__timestamp">12:35</p>
          <p class="message__author">Adam Kowalski</p>
        </div>
        <div class="message__content">
          <p class="content__text">Cześć, witam wszystkich</p>
        </div>
      </div>
      <div class="message-container">
        <div class="message__info">
          <p class="message__author">Michał Listek</p>
          <p class="message__timestamp">12:34</p>
        </div>
        <div class="message__content">
          <p class="content__text">Witam wszystkich w nowym projekcie</p>
        </div>
      </div>
      <div class="message-container">
        <div class="message__info">
          <p class="message__timestamp">12:35</p>
          <p class="message__author">Adam Kowalski</p>
        </div>
        <div class="message__content">
          <p class="content__text">Cześć, witam wszystkich</p>
        </div>
      </div>
      <div class="message-container">
        <div class="message__info">
          <p class="message__timestamp">12:35</p>
          <p class="message__author">Adam Kowalski</p>
        </div>
        <div class="message__content">
          <p class="content__text">Cześć, witam wszystkich</p>
        </div>
      </div>
    </div>
    <div class="border-line"></div>
    <form class="message-form">
      <label for="message-name" class="form-label">Wiadomość:</label>
      <input type="text" id="message-name" class="form-control" />
      <button class="submit-button" type="submit">Wyślij</button>
    </form>
  </div>
</div>