<div class="container">
  <div class="header">
    <h1 class="header-text">Wiadomości</h1>
  </div>
  <div class="main-content" *ngIf="!currentTeam">
    <h3>Nie jesteś obecnie członkiem żadnej grupy!</h3>
    <p>Dołącz do grupy i uzyskaj dostęp do wszystkich funkcji</p>
  </div>
  <div class="main-content" *ngIf="currentTeam">
    <div class="messages__list">
      <div *ngFor="let message of messages">
        <div class="message-container--self" *ngIf="message.user.id === this.user.id">
          <div class="message__info">
            <p class="message__author">{{ message.user.firstName + ' ' + message.user.lastName }}</p>
            <p class="message__timestamp">{{ message.creationDate.substring(11, 16) }}</p>
          </div>
          <div class="message__content">
            <p class="content__text">{{ message.label }}</p>
          </div>
        </div>
        <div class="message-container" *ngIf="message.user.id !== this.user.id">
          <div class="message__info">
            <p class="message__timestamp">{{ message.creationDate.substring(11, 16) }}</p>
            <p class="message__author">{{ message.user.firstName + ' ' + message.user.lastName }}</p>
          </div>
          <div class="message__content">
            <p class="content__text">{{ message.label }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="border-line"></div>
    <form class="message-form" (ngSubmit)="onSendMessage(f)" #f="ngForm">
      <label for="messageContent" class="form-label">Wiadomość:</label>
      <input
        type="text"
        id="messageContent"
        name="messageContent"
        ngModel
        required
        class="form-control"
        />
      <button class="submit-button" type="submit">Wyślij</button>
    </form>
  </div>
</div>